@import url(../../common.css);


.container{
    width: 100%;
    height: 100%;
}


.container header{
    background: #ccc;
    height: 85px;
    padding: 15px;
}
.container header div:first-child{
    width: 150px;
    margin-top: 15x;
}

.container header div:nth-child(2){
    width: 350px;
    text-align: center;
    position: absolute;
    left: 800px;
}
.container header div:nth-child(3){
    width: 350px;
    position: absolute;
    left: 800px;
    top: 50px;
}
.container .banner{
    width: 80%;
    height: 100px;
    background: pink;
    margin: 0 auto;
    padding: 15px;
}

.container .banner .left-banner{
    background-color: red;
    width: 300px;
    height: 30px;
}
.container .banner .right-banner{
    background-color: skyblue;
    width: 300px;
    height: 30px;
    float: right;
}





























