@import url(../../common.css);


.container{
    width: 100%;
    height: 100%;
}


.container header{
    background: #ccc;
    height: 85px;
    padding: 15px;
    position: relative;
}
.container .korea{
    width: 150px;
    margin-top: 30x;
    font-size: 0.7em;
    position: absolute;
    top: 30%;
    left: 10%;
}

.container .event{
    width: 33%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0.8em;
}
.container .event span{
    font-weight: 700;
}

.container .banner{
    width: 80%;
    height: 70px;
    margin: 0 auto;
    /* z-index: 1000;
    position: fixed;
    left: 50%;
    transform: translate(-50%,0); */
}

.container .banner .left-banner{
    width: 50%;
    float: left;
}


.container .banner .right-banner{
    width: 50%;
    float: right;
}
.container .banner .left-banner ul li{
    float: left;
    font-size: 0.7em;
    margin-left: 25px;
    line-height: 70px;
    padding-left: 20px;
}

.container .banner .left-banner ul li:last-child{
    color: red;
}


.container .banner .right-banner ul li{
    float: right;
    font-size: 0.7em;
    margin-right: 25px;
    line-height: 70px;
    padding-left: 20px;
}

.container .banner .right-banner ul li:first-child{
    background-color: black;
    color: aliceblue;
    width: 33%;
    margin-right: 0;
    height: 70px;
}

.container .main-first{
    width: 80%;
    height: 1000px;
    /* background: orange; */
    margin: 0 auto;
    background: url('e777c881-5b62-4250-92a6-362967f54cca.webp') no-repeat center/cover;
    margin-bottom: 30px;
}

.container .main-second{
    width: 80%;
    height: 600x;
    /* background: orange; */
    margin: 0 auto;
}
.container .main-second .inner-content1{
    height: 30%;
    padding-top: 50px;
}
.container .main-second .inner-content1 h1{
    font-weight: 700;
    width: fit-content;
    font-size: 2.5em;
    margin-bottom: -50px;
}

.container .main-second p{
    width: fit-content;
    margin-top: 70px;
    margin-bottom: 30px;
    font-weight: 700;
}

.container .main-second .inner-content1 .box{
    width: 25%;
    float: left;
    background: url('e777c881-5b62-4250-92a6-362967f54cca.webp') no-repeat center/cover;
    height: 300px;
}

.container .main-third{
    width: 80%;
    height: 1000px;
    /* background: orange; */
    margin: 0 auto;
    background: url('e777c881-5b62-4250-92a6-362967f54cca.webp') no-repeat center/cover;
    margin-bottom: 30px;
    margin-top: 30px;
}

.container .main-forth{
    width: 80%;
    height: 1000px;
    /* background: orange; */
    margin: 0 auto;
    background: url('e777c881-5b62-4250-92a6-362967f54cca.webp') no-repeat center/cover;
    margin-bottom: 30px;
    position: relative;
}
.container .main-forth>div{
    position: absolute;
    left: 50px;
    top: 45%;
    width: 50%;
}
.container .main-forth>div h2{
    font-weight: 700;
    font-size: 3.0em;
    margin-top: 15px;
}
.container .main-forth>div p{
    margin-top: 30px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 0.7em;
}

.container .main-forth .button2 a{
   line-height: 50px;
}
.container .main-forth .button2{
    width: 150px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
    color: #fff;
    background: #000;
}





































